.article {
  padding: 1rem;
}

.articleLink {
}

.articleLink a {
  font-size: 1rem;
  padding: 1rem 1.25rem;
  color: blue;
}

.articleLink + .articleLink {
  margin-top: 0.5rem;
}

.articleGrid {
  display: grid;
  gap: 1.5rem;
}

.articleGrid details {
  min-height: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  border: 1px solid black;
}

.articleGrid details > summary {
  padding: 0.5rem 0;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
}
