.articlePage {
  padding: var(--spacing-wide);
}

.articleHeader {
  padding-left: 0;
}

.articleMain {
  padding-left: 0;
}

.articlePage > * + * {
  border-top: 1px solid var(--color-divider);
  margin-top: var(--spacing-section);
  padding-top: var(--spacing-section);
}

.articlePage > * > :first-child {
  margin-top: 0;
}

.articlePage > * > :last-child {
  margin-bottom: 0;
}
