.projectPage {
  padding: 2rem;
}

.projectPage > * + * {
  border-top: 1px solid #ddd;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
}

.projectPage > * > :first-child {
  margin-top: 0;
}

.projectPage > * > :last-child {
  margin-bottom: 0;
}

.projectHeader {
  display: flex;
  align-items: center;
}

.projectSummary {
  font-size: 1rem;
}

.projectDescription {
  font-size: 1rem;
  color: black;
}

.projectDescription code {
  padding: 0.15em 0.4em;
  margin-inline: 0.08em;

  background-color: lightgrey;
  color: black;

  border: 1px solid black;
  border-radius: 0.35rem;

  font-family: ui-monospace, SFMono-Regular, Consolas, monospace;
  font-size: 0.875em;
  line-height: 1.4;

  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.projectLink {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.projectLink a {
  text-decoration: none;
  color: #0070f3;
  transition: color 0.3s ease;
}
